@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #E3E3E3;   /* Improve the contrast ratio to 7.58:1 */
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
.inside #footer {
  bottom: 0;
  position: relative;
  width: calc(100% - 50px);
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
	padding: 20px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
		position: relative;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
	position: relative;
  right: 0;
  top: 120px;
  width: 100%;
}
.tab-container{
	display: flex;
	flex-direction: row;
}
.tabs{
	background: #fff;
	text-align: center;
	border: 1px solid #e7e7e7;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}
.tabs span{
	color: #33373D;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 30px 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
	border-top-left-radius: 30px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container , #reviews-container {
	padding: 100px 10px 20px;
  width:  calc(100% - 20px);
	position: relative;
	align-items: center;
}
/* ================= Review Form : Stage 3==============*/
#review-form{
	width: 45%;
	padding: 20px 40px;
}
#review-form input[type='text']{
	width: 100%;
    border: 1px solid lightgray;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
		text-indent: 15px
}
#review-form button{
	border: 0px;
	background-color: orange;
	color: white;
	height: auto;
	border-radius: 5px;
	padding: 12px;
	cursor: pointer;
}
.star{
	color: #999;
	margin-right: 10px;
	font-size: 30px;
	cursor: pointer;
}
.star-fill{
	 color: #ffe11b;
}
/* ===============REVIEWS =================*/
#reviews-container{
	padding: 20px 10px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 12pt;
  font-weight: 400;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	text-transform: uppercase;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 20px;
  position: relative;
  width: 100%;
}
.review-name,.review-date{
	width: calc((100% - 40px)/2);
	background-color: #333;
	height: 50px;
	margin-top: 0px;
}
.review-name{
	padding: 20px 0 10px 20px;
	color: #f3f3f3;
}
.review-date{
	padding: 20px 20px 10px 0;
	text-align: right;
	color: #ccc;
}
.review-rating{
	background-color: orange;
	border-radius: 5px;
	width: 40px;
	color: #f3f3f3;
	padding: 5px 10px;
	font-weight: bold;
	margin-left: 30px;
	text-align: center;
	letter-spacing: 2px;
}
.review-body{
	color: #333c;
	margin: 0 30px;
	line-height: 1.2;
}
#reviews-list li p {
	margin-bottom: 10px;
	font-size: 16pt;
}
#restaurant-hours td {
  color: #666;
}

/* ======================icons============================ */
img[id^='heart-icon']{
	float: right;
	margin: 20px;
	cursor: pointer;
}
.write-icon{
	position: absolute;
    left: 45px;
    height: 1.5em;
    width: 1.5em;
    margin: 5px;
}
@media screen and (min-width: 425px){
	nav h1{
		padding-top: calc((80px - 30px)/2);
	}
	#restaurant-container , #reviews-container{
			padding: 100px 20px 30px;
			width: calc(100% - 40px);
	}
	#reviews-container{
		padding: 20px;
	}
	#review-form{
		width: 90%;
	}
}

@media screen and (min-width: 768px){
	#restaurant-container , #reviews-container{
		padding-left: 40px;
		padding-right: 40px;
		width: calc(100% - 80px);
	}
	#restaurant-hours td{
		font-size: 14pt;
	}
}

@media screen and (min-width: 950px){
	.inside #map-container{
		width: 50%;
		position: fixed;
		height: 100%;
	}
	#restaurant-container, #reviews-container{
		width: 45%;
	}
	#restaurant-name{
		margin-top: 40px;
	}
	#review-form input[type='text']{
		width: 45%
	}
}
